In [2]:
import pandas as pd
import numpy as np

file_root = r'C:\Users\dalej\OneDrive\Documents\Data\College_Scorecard_Raw_Data_05192025\College_Scorecard_Raw_Data_05192025'

# Testing String Parsing
Data is from https://collegescorecard.ed.gov/data

In [3]:
df_csv = pd.read_csv(file_root + r'\FieldOfStudyData1415_1516_PP.csv')
df_csv.head(10)

,UNITID,OPEID6,INSTNM,CONTROL,MAIN,CIPCODE,CIPDESC,CREDLEV,CREDDESC,IPEDSCOUNT1,...,EARN_COUNT_PELL_WNE_5YR,EARN_PELL_WNE_MDN_5YR,EARN_COUNT_NOPELL_WNE_5YR,EARN_NOPELL_WNE_MDN_5YR,EARN_COUNT_MALE_WNE_5YR,EARN_MALE_WNE_MDN_5YR,EARN_COUNT_NOMALE_WNE_5YR,EARN_NOMALE_WNE_MDN_5YR,EARN_COUNT_HIGH_CRED_5YR,EARN_IN_STATE_5YR
0,100654.0,1002,Alabama A & M University,Public,1,100,"Agriculture, General.",3,Bachelor’s Degree,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,100654.0,1002,Alabama A & M University,Public,1,101,Agricultural Business and Management.,3,Bachelor’s Degree,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,100654.0,1002,Alabama A & M University,Public,1,109,Animal Sciences.,3,Bachelor’s Degree,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,100654.0,1002,Alabama A & M University,Public,1,110,Food Science and Technology.,3,Bachelor’s Degree,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,100654.0,1002,Alabama A & M University,Public,1,110,Food Science and Technology.,5,Master's Degree,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,100654.0,1002,Alabama A & M University,Public,1,110,Food Science and Technology.,6,Doctoral Degree,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,100654.0,1002,Alabama A & M University,Public,1,111,Plant Sciences.,3,Bachelor’s Degree,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,100654.0,1002,Alabama A & M University,Public,1,199,"Agriculture, Agriculture Operations, and Relat...",3,Bachelor’s Degree,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,100654.0,1002,Alabama A & M University,Public,1,199,"Agriculture, Agriculture Operations, and Relat...",5,Master's Degree,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,100654.0,1002,Alabama A & M University,Public,1,199,"Agriculture, Agriculture Operations, and Relat...",6,Doctoral Degree,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
print(df_csv.dtypes)
print('='*20)
print(df_csv.shape)

UNITID                       float64
OPEID6                         int64
INSTNM                        object
CONTROL                       object
MAIN                           int64
                              ...
EARN_MALE_WNE_MDN_5YR        float64
EARN_COUNT_NOMALE_WNE_5YR    float64
EARN_NOMALE_WNE_MDN_5YR      float64
EARN_COUNT_HIGH_CRED_5YR     float64
EARN_IN_STATE_5YR            float64
Length: 174, dtype: object
====================
(214885, 174)

## Aggregations

In [ ]:
df_csv_agg = df_csv.groupby('CountryRegionCode').agg({
    'GeographyKey' : [('GeographyCount', 'count'), ('GeographyDistCount', 'nunique')],
    'PostalCode' : [('PostalMin', 'min'), ('PostalMax', 'max')],
})
df_csv_agg.head(10)

                    GeographyKey                    PostalCode
                  GeographyCount GeographyDistCount  PostalMin PostalMac
CountryRegionCode
AU                            40                 40       1002      7001
CA                            73                 73         7L   V9B 5T2
DE                            65                 65      01071     95010
FR                            48                 48      17490     95000
GB                            53                 53       AS23      YO15
US                           376                376      01906     99362