In [ ]:
import pandas as pd
import numpy as np

# When loading a zipped CSV file, you can specify the compression type, but leave out the underlying file name.
df_csv = pd.read_csv(r"C:\Users\dalej\OneDrive\Documents\Data\hydrodata\di_met_min.2023.csv.zip", 
    compression='zip', 
    encoding='utf-8', 
    low_memory=False)
df_csv.head(10)

,ts,precip1,precip1flag,airtemp1,airtemp1flag,solarrad1,solarrad1flag,quantumrad1,quantumrad1flag,winddir1,winddir1flag,windspeed1,windspeed1flag,bar_pressure1,bar_pressure1flag,relhumid1_avg,relhumid1flag,battv
0,2023-01-05 00:00:00+00,0.0,3.0,18.19,3.0,0.0,3.0,19.6834,3.0,224.8,3.0,6.535,3.0,30.01,3.0,67.80,3.0,12.43
1,2023-01-05 00:01:00+00,0.0,3.0,18.12,3.0,0.0,3.0,19.5914,3.0,256.3,3.0,5.057,3.0,30.01,3.0,68.42,3.0,12.49
2,2023-01-05 00:02:00+00,0.0,3.0,18.12,3.0,0.0,3.0,19.7758,3.0,251.9,3.0,5.380,3.0,30.01,3.0,68.42,3.0,12.49
3,2023-01-05 00:03:00+00,0.0,3.0,18.12,3.0,0.0,3.0,19.6839,3.0,236.3,3.0,5.057,3.0,30.01,3.0,66.97,3.0,12.50
4,2023-01-05 00:04:00+00,0.0,3.0,18.19,3.0,0.0,3.0,19.5925,3.0,266.3,3.0,5.316,3.0,30.01,3.0,66.70,3.0,12.51
5,2023-01-05 00:05:00+00,0.0,3.0,18.26,3.0,0.0,3.0,19.7765,3.0,252.5,3.0,5.283,3.0,30.01,3.0,65.26,3.0,12.51
6,2023-01-05 00:06:00+00,0.0,3.0,18.26,3.0,0.0,3.0,19.5929,3.0,231.1,3.0,5.062,3.0,30.01,3.0,66.15,3.0,12.51
7,2023-01-05 00:07:00+00,0.0,3.0,18.19,3.0,0.0,3.0,19.5009,3.0,254.3,3.0,4.749,3.0,30.01,3.0,66.77,3.0,12.51
8,2023-01-05 00:08:00+00,0.0,3.0,18.19,3.0,0.0,3.0,19.6853,3.0,246.0,3.0,5.181,3.0,30.01,3.0,66.84,3.0,12.51
9,2023-01-05 00:09:00+00,0.0,3.0,18.19,3.0,0.0,3.0,19.5013,3.0,230.9,3.0,5.688,3.0,30.01,3.0,67.52,3.0,12.51

In [6]:
df_csv['ts'] = pd.to_datetime(df_csv['ts'], format='%Y-%m-%d %H:%M:%S+00', errors='coerce')

In [13]:
df_csv.head(5)

,ts,precip1,precip1flag,airtemp1,airtemp1flag,solarrad1,solarrad1flag,quantumrad1,quantumrad1flag,winddir1,winddir1flag,windspeed1,windspeed1flag,bar_pressure1,bar_pressure1flag,relhumid1_avg,relhumid1flag,battv,order
0,2023-01-05 00:00:00,0.0,3.0,18.19,3.0,0.0,3.0,19.6834,3.0,224.8,3.0,6.535,3.0,30.01,3.0,67.80,3.0,12.43,1
1,2023-01-05 00:01:00,0.0,3.0,18.12,3.0,0.0,3.0,19.5914,3.0,256.3,3.0,5.057,3.0,30.01,3.0,68.42,3.0,12.49,2
2,2023-01-05 00:02:00,0.0,3.0,18.12,3.0,0.0,3.0,19.7758,3.0,251.9,3.0,5.380,3.0,30.01,3.0,68.42,3.0,12.49,3
3,2023-01-05 00:03:00,0.0,3.0,18.12,3.0,0.0,3.0,19.6839,3.0,236.3,3.0,5.057,3.0,30.01,3.0,66.97,3.0,12.50,4
4,2023-01-05 00:04:00,0.0,3.0,18.19,3.0,0.0,3.0,19.5925,3.0,266.3,3.0,5.316,3.0,30.01,3.0,66.70,3.0,12.51,5

In [19]:
df_csv.sort_values(by='ts', inplace=True)
df_csv['order'] = np.arange(len(df_csv)) + 1
df_csv['order_pd'] = df_csv.reset_index().index + 1

In [23]:
df_csv['airtemp_next'] = df_csv['airtemp1'].shift(-1)
df_csv['order_lead'] = df_csv['order'].shift(-1)
df_csv['order_lag'] = df_csv['order'].shift(1).fillna(0)

In [24]:

df_csv[['ts', 'airtemp1', 'airtemp_next', 'order', 'order_pd', 'order_lead', 'order_lag']].head(10)

,ts,airtemp1,airtemp_next,order,order_pd,order_lead,order_lag
520467,2023-01-01 00:00:00,16.55,16.41,1,1,2.0,0.0
520468,2023-01-01 00:01:00,16.41,16.27,2,2,3.0,1.0
520469,2023-01-01 00:02:00,16.27,16.34,3,3,4.0,2.0
520470,2023-01-01 00:03:00,16.34,16.41,4,4,5.0,3.0
520471,2023-01-01 00:04:00,16.41,16.55,5,5,6.0,4.0
520472,2023-01-01 00:05:00,16.55,16.48,6,6,7.0,5.0
520473,2023-01-01 00:06:00,16.48,16.55,7,7,8.0,6.0
520474,2023-01-01 00:07:00,16.55,16.62,8,8,9.0,7.0
520475,2023-01-01 00:08:00,16.62,16.55,9,9,10.0,8.0
520476,2023-01-01 00:09:00,16.55,16.48,10,10,11.0,9.0

In [25]:
df_csv['airtemp_dph'] = (df_csv['airtemp1'] - df_csv['airtemp_next'])

In [26]:
df_csv[['ts', 'airtemp1', 'airtemp_next', 'order', 'order_pd', 'order_lead', 'order_lag', 'airtemp_dph']].head(10)

,ts,airtemp1,airtemp_next,order,order_pd,order_lead,order_lag,airtemp_dph
520467,2023-01-01 00:00:00,16.55,16.41,1,1,2.0,0.0,0.14
520468,2023-01-01 00:01:00,16.41,16.27,2,2,3.0,1.0,0.14
520469,2023-01-01 00:02:00,16.27,16.34,3,3,4.0,2.0,-0.07
520470,2023-01-01 00:03:00,16.34,16.41,4,4,5.0,3.0,-0.07
520471,2023-01-01 00:04:00,16.41,16.55,5,5,6.0,4.0,-0.14
520472,2023-01-01 00:05:00,16.55,16.48,6,6,7.0,5.0,0.07
520473,2023-01-01 00:06:00,16.48,16.55,7,7,8.0,6.0,-0.07
520474,2023-01-01 00:07:00,16.55,16.62,8,8,9.0,7.0,-0.07
520475,2023-01-01 00:08:00,16.62,16.55,9,9,10.0,8.0,0.07
520476,2023-01-01 00:09:00,16.55,16.48,10,10,11.0,9.0,0.07

In [28]:
df_csv.describe()

,ts,precip1,precip1flag,airtemp1,airtemp1flag,solarrad1,solarrad1flag,quantumrad1,quantumrad1flag,winddir1,...,bar_pressure1flag,relhumid1_avg,relhumid1flag,battv,order,order_pd,airtemp_next,order_lead,order_lag,airtemp_dph
count,521558,521558.000000,521542.000000,521558.000000,521542.000000,521558.000000,521542.000000,521558.000000,521542.000000,521558.000000,...,521542.000000,521558.000000,521542.000000,521558.000000,521558.000000,521558.000000,521557.000000,521557.000000,521558.000000,521557.000000
mean,2023-07-03 16:26:45.122688768,0.000099,2.927039,22.041847,2.999617,-0.150747,2.945861,362.385785,2.999617,169.655646,...,2.999605,81.455599,2.999617,12.677358,260779.500000,260779.500000,22.041857,260780.000000,260778.500000,0.000006
min,2023-01-01 00:00:00,0.000000,1.000000,-11.590000,1.000000,-7999.000000,1.000000,0.000000,1.000000,0.000000,...,1.000000,28.080000,1.000000,11.210000,1.000000,1.000000,-11.590000,2.000000,0.000000,-33.510000
25%,2023-04-04 02:23:15,0.000000,3.000000,17.320000,3.000000,0.000000,3.000000,16.898200,3.000000,73.820000,...,3.000000,72.730000,3.000000,12.410000,130390.250000,130390.250000,17.320000,130391.000000,130389.250000,-0.060000
50%,2023-07-03 15:32:30,0.000000,3.000000,22.400000,3.000000,0.004000,3.000000,53.971000,3.000000,167.300000,...,3.000000,83.300000,3.000000,12.510000,260779.500000,260779.500000,22.400000,260780.000000,260778.500000,0.000000
75%,2023-10-02 05:11:45,0.000000,3.000000,27.650000,3.000000,0.331000,3.000000,640.364250,3.000000,258.400000,...,3.000000,92.700000,3.000000,12.980000,391168.750000,391168.750000,27.650000,391169.000000,391167.750000,0.060000
max,2023-12-31 23:59:00,5.080000,3.000000,36.530000,3.000000,1.320000,3.000000,10860.000000,3.000000,354.600000,...,3.000000,100.000000,3.000000,13.580000,521558.000000,521558.000000,36.530000,521558.000000,521557.000000,18.946000
std,NaN,0.008918,0.374964,6.496833,0.027691,51.952086,0.227139,488.948835,0.027691,105.738527,...,0.027898,13.943282,0.027691,0.318911,150560.970186,150560.970186,6.496835,150560.681511,150560.970186,0.149919

In [32]:
air_temp_bin = [-1000.0, -5.00, -1.00, -0.25, -.01, .01, 0.25, 1.00, 5.00, 1000.0]
air_labels = ['n super critical', 'n critical', 'n high', 'n moderate', 'neutral', 'moderate', 'high', 'critical', 'super critical']
df_csv['change_level'] = pd.cut(df_csv['airtemp_dph'], bins=air_temp_bin, labels=air_labels)
df_csv[['ts', 'airtemp1', 'airtemp_next', 'order', 'order_pd', 'order_lead', 'order_lag', 'airtemp_dph', 'change_level']].head(10)
df_csv['change_level'].value_counts()

change_level
neutral             209178
n moderate          148358
moderate            147475
high                  6302
n high                5963
n critical            2152
critical              2124
super critical           3
n super critical         2
Name: count, dtype: int64

In [35]:
df_csv['lvl_rank'] = df_csv.groupby('change_level').rank(method='first')
# df_filter = df_csv[df_csv['lvl_rank'] == 1]
# df_filter.sort_values(by=['change_level'], ascending=[False]).head(10)

C:\Users\dalej\AppData\Local\Temp\ipykernel_23832\359146018.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df_csv['lvl_rank'] = df_csv.groupby('change_level').rank(method='first')

ValueError: Cannot set a DataFrame with multiple columns to the single column lvl_rank