In [ ]:
import pandas as pd
import numpy as np

# When loading a zipped CSV file, you can specify the compression type, but leave out the underlying file name.
df_csv = pd.read_csv(r"C:\Users\dalej\OneDrive\Documents\Data\hydrodata\di_met_min.2023.csv.zip", 
    compression='zip', 
    encoding='utf-8', 
    low_memory=False)
df_csv.head(10)

,ts,precip1,precip1flag,airtemp1,airtemp1flag,solarrad1,solarrad1flag,quantumrad1,quantumrad1flag,winddir1,winddir1flag,windspeed1,windspeed1flag,bar_pressure1,bar_pressure1flag,relhumid1_avg,relhumid1flag,battv
0,2023-01-05 00:00:00+00,0.0,3.0,18.19,3.0,0.0,3.0,19.6834,3.0,224.8,3.0,6.535,3.0,30.01,3.0,67.80,3.0,12.43
1,2023-01-05 00:01:00+00,0.0,3.0,18.12,3.0,0.0,3.0,19.5914,3.0,256.3,3.0,5.057,3.0,30.01,3.0,68.42,3.0,12.49
2,2023-01-05 00:02:00+00,0.0,3.0,18.12,3.0,0.0,3.0,19.7758,3.0,251.9,3.0,5.380,3.0,30.01,3.0,68.42,3.0,12.49
3,2023-01-05 00:03:00+00,0.0,3.0,18.12,3.0,0.0,3.0,19.6839,3.0,236.3,3.0,5.057,3.0,30.01,3.0,66.97,3.0,12.50
4,2023-01-05 00:04:00+00,0.0,3.0,18.19,3.0,0.0,3.0,19.5925,3.0,266.3,3.0,5.316,3.0,30.01,3.0,66.70,3.0,12.51
5,2023-01-05 00:05:00+00,0.0,3.0,18.26,3.0,0.0,3.0,19.7765,3.0,252.5,3.0,5.283,3.0,30.01,3.0,65.26,3.0,12.51
6,2023-01-05 00:06:00+00,0.0,3.0,18.26,3.0,0.0,3.0,19.5929,3.0,231.1,3.0,5.062,3.0,30.01,3.0,66.15,3.0,12.51
7,2023-01-05 00:07:00+00,0.0,3.0,18.19,3.0,0.0,3.0,19.5009,3.0,254.3,3.0,4.749,3.0,30.01,3.0,66.77,3.0,12.51
8,2023-01-05 00:08:00+00,0.0,3.0,18.19,3.0,0.0,3.0,19.6853,3.0,246.0,3.0,5.181,3.0,30.01,3.0,66.84,3.0,12.51
9,2023-01-05 00:09:00+00,0.0,3.0,18.19,3.0,0.0,3.0,19.5013,3.0,230.9,3.0,5.688,3.0,30.01,3.0,67.52,3.0,12.51

In [6]:
df_csv['ts'] = pd.to_datetime(df_csv['ts'], format='%Y-%m-%d %H:%M:%S+00', errors='coerce')

In [13]:
df_csv.head(5)

,ts,precip1,precip1flag,airtemp1,airtemp1flag,solarrad1,solarrad1flag,quantumrad1,quantumrad1flag,winddir1,winddir1flag,windspeed1,windspeed1flag,bar_pressure1,bar_pressure1flag,relhumid1_avg,relhumid1flag,battv,order
0,2023-01-05 00:00:00,0.0,3.0,18.19,3.0,0.0,3.0,19.6834,3.0,224.8,3.0,6.535,3.0,30.01,3.0,67.80,3.0,12.43,1
1,2023-01-05 00:01:00,0.0,3.0,18.12,3.0,0.0,3.0,19.5914,3.0,256.3,3.0,5.057,3.0,30.01,3.0,68.42,3.0,12.49,2
2,2023-01-05 00:02:00,0.0,3.0,18.12,3.0,0.0,3.0,19.7758,3.0,251.9,3.0,5.380,3.0,30.01,3.0,68.42,3.0,12.49,3
3,2023-01-05 00:03:00,0.0,3.0,18.12,3.0,0.0,3.0,19.6839,3.0,236.3,3.0,5.057,3.0,30.01,3.0,66.97,3.0,12.50,4
4,2023-01-05 00:04:00,0.0,3.0,18.19,3.0,0.0,3.0,19.5925,3.0,266.3,3.0,5.316,3.0,30.01,3.0,66.70,3.0,12.51,5

In [14]:
df_csv['order'] = np.arange(len(df_csv)) + 1
df_csv['order_pd'] = df_csv.reset_index().index + 1

In [15]:
df_csv.sort_values(by='ts', inplace=True)
df_csv['airtemp_next'] = df_csv['airtemp1'].shift(-1)

In [16]:
df_csv[['ts', 'airtemp1', 'airtemp_next', 'order', 'order_pd']].head(10)

                        ts  airtemp1  airtemp_next   order  order_pd
520467 2023-01-01 00:00:00     16.55         16.41  520468    520468
520468 2023-01-01 00:01:00     16.41         16.27  520469    520469
520469 2023-01-01 00:02:00     16.27         16.34  520470    520470
520470 2023-01-01 00:03:00     16.34         16.41  520471    520471
520471 2023-01-01 00:04:00     16.41         16.55  520472    520472
520472 2023-01-01 00:05:00     16.55         16.48  520473    520473
520473 2023-01-01 00:06:00     16.48         16.55  520474    520474
520474 2023-01-01 00:07:00     16.55         16.62  520475    520475
520475 2023-01-01 00:08:00     16.62         16.55  520476    520476
520476 2023-01-01 00:09:00     16.55         16.48  520477    520477